.product-image {
  width: 310px;
  height: 320px;
  padding-right: 30px;
}

.product-container {
  display: flex;
  flex-direction: row;
  padding: 40px;    
}

.product-name {
  margin: 0px;
}

.background-pink {
  background-color: pink;
  padding: 5px;
  border: 2px solid pink;
  border-radius: 5px;
}

.background-none {
  background-color: none;
}